<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.TTeacherMapper">
    
    <resultMap type="TTeacher" id="TTeacherResult">
        <result property="id"    column="id"    />
        <result property="path"    column="path"    />
        <result property="discription"    column="discription"    />
        <result property="teacherSeq"    column="teacher_seq"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteTime"    column="delete_time"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createUser"    column="create_user"    />
    </resultMap>

    <sql id="selectTTeacherVo">
        select id, path, discription, teacher_seq, create_time, update_time, delete_time, is_deleted, create_user from t_teacher
    </sql>

    <select id="selectTTeacherList" parameterType="TTeacher" resultMap="TTeacherResult">
        <include refid="selectTTeacherVo"/>
        <where>  
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="discription != null  and discription != ''"> and discription = #{discription}</if>
            <if test="teacherSeq != null  and teacherSeq != ''"> and teacher_seq = #{teacherSeq}</if>
            <if test="deleteTime != null "> and delete_time = #{deleteTime}</if>
            <if test="isDeleted != null  and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
        </where>
        ORDER  by teacher_seq
    </select>
    
    <select id="selectTTeacherById" parameterType="Long" resultMap="TTeacherResult">
        <include refid="selectTTeacherVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTTeacher" parameterType="TTeacher">
        insert into t_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="path != null  and path != ''">path,</if>
            <if test="discription != null  and discription != ''">discription,</if>
            <if test="teacherSeq != null  and teacherSeq != ''">teacher_seq,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="deleteTime != null ">delete_time,</if>
            <if test="isDeleted != null  and isDeleted != ''">is_deleted,</if>
            <if test="createUser != null  and createUser != ''">create_user,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="path != null  and path != ''">#{path},</if>
            <if test="discription != null  and discription != ''">#{discription},</if>
            <if test="teacherSeq != null  and teacherSeq != ''">#{teacherSeq},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="deleteTime != null ">#{deleteTime},</if>
            <if test="isDeleted != null  and isDeleted != ''">#{isDeleted},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
         </trim>
    </insert>

    <update id="updateTTeacher" parameterType="TTeacher">
        update t_teacher
        <trim prefix="SET" suffixOverrides=",">
            <if test="path != null  and path != ''">path = #{path},</if>
            <if test="discription != null  and discription != ''">discription = #{discription},</if>
            <if test="teacherSeq != null  and teacherSeq != ''">teacher_seq = #{teacherSeq},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="deleteTime != null ">delete_time = #{deleteTime},</if>
            <if test="isDeleted != null  and isDeleted != ''">is_deleted = #{isDeleted},</if>
            <if test="createUser != null  and createUser != ''">create_user = #{createUser},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTTeacherById" parameterType="Long">
        delete from t_teacher where id = #{id}
    </delete>

    <delete id="deleteTTeacherByIds" parameterType="String">
        delete from t_teacher where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>