<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.TUserInviteMapper">
    
    <resultMap type="TUserInvite" id="TUserInviteResult">
        <result property="userId"    column="user_id"    />
        <result property="phone"    column="phone"    />
        <result property="inviteCode"    column="invite_code"    />
        <result property="inviteNumberTotal"    column="invite_number_total"    />
        <result property="inviteMoneyTotal"    column="invite_money_total"    />
        <result property="inviteMoneyNot"    column="invite_money_not"    />
        <result property="inviteMoneyAlready"    column="invite_money_already"    />
        <result property="zfbName"    column="zfb_name"    />
        <result property="zfbAccount"    column="zfb_account"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTUserInviteVo">
        select user_id, phone, invite_code, invite_number_total, invite_money_total, invite_money_not, invite_money_already, zfb_name, zfb_account, del_flag, create_by, create_time, update_by, update_time, remark from t_user_invite
    </sql>

    <select id="selectTUserInviteList" parameterType="TUserInvite" resultMap="TUserInviteResult">
        <include refid="selectTUserInviteVo"/>
        <where>  
            <if test="phone != null  and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
            <if test="inviteCode != null  and inviteCode != ''"> and invite_code like concat('%', #{inviteCode}, '%')</if>
            <if test="inviteNumberTotal != null "> and invite_number_total = #{inviteNumberTotal}</if>
            <if test="inviteMoneyTotal != null "> and invite_money_total = #{inviteMoneyTotal}</if>
            <if test="inviteMoneyNot != null "> and invite_money_not = #{inviteMoneyNot}</if>
            <if test="inviteMoneyAlready != null "> and invite_money_already = #{inviteMoneyAlready}</if>
            <if test="zfbName != null  and zfbName != ''"> and zfb_name like concat('%', #{zfbName}, '%')</if>
            <if test="zfbAccount != null  and zfbAccount != ''"> and zfb_account = #{zfbAccount}</if>
        </where>
    </select>
    
    <select id="selectTUserInviteById" parameterType="Long" resultMap="TUserInviteResult">
        <include refid="selectTUserInviteVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertTUserInvite" parameterType="TUserInvite" useGeneratedKeys="true" keyProperty="userId">
        insert into t_user_invite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="inviteCode != null  and inviteCode != ''">invite_code,</if>
            <if test="inviteNumberTotal != null ">invite_number_total,</if>
            <if test="inviteMoneyTotal != null ">invite_money_total,</if>
            <if test="inviteMoneyNot != null ">invite_money_not,</if>
            <if test="inviteMoneyAlready != null ">invite_money_already,</if>
            <if test="zfbName != null  and zfbName != ''">zfb_name,</if>
            <if test="zfbAccount != null  and zfbAccount != ''">zfb_account,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="inviteCode != null  and inviteCode != ''">#{inviteCode},</if>
            <if test="inviteNumberTotal != null ">#{inviteNumberTotal},</if>
            <if test="inviteMoneyTotal != null ">#{inviteMoneyTotal},</if>
            <if test="inviteMoneyNot != null ">#{inviteMoneyNot},</if>
            <if test="inviteMoneyAlready != null ">#{inviteMoneyAlready},</if>
            <if test="zfbName != null  and zfbName != ''">#{zfbName},</if>
            <if test="zfbAccount != null  and zfbAccount != ''">#{zfbAccount},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTUserInvite" parameterType="TUserInvite">
        update t_user_invite
        <trim prefix="SET" suffixOverrides=",">
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="inviteCode != null  and inviteCode != ''">invite_code = #{inviteCode},</if>
            <if test="inviteNumberTotal != null ">invite_number_total = #{inviteNumberTotal},</if>
            <if test="inviteMoneyTotal != null ">invite_money_total = #{inviteMoneyTotal},</if>
            <if test="inviteMoneyNot != null ">invite_money_not = #{inviteMoneyNot},</if>
            <if test="inviteMoneyAlready != null ">invite_money_already = #{inviteMoneyAlready},</if>
            <if test="zfbName != null  and zfbName != ''">zfb_name = #{zfbName},</if>
            <if test="zfbAccount != null  and zfbAccount != ''">zfb_account = #{zfbAccount},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteTUserInviteById" parameterType="Long">
        delete from t_user_invite where user_id = #{userId}
    </delete>

    <delete id="deleteTUserInviteByIds" parameterType="String">
        delete from t_user_invite where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="selectTUserInviteByInvoteCode" parameterType="map" resultMap="TUserInviteResult">
        <include refid="selectTUserInviteVo"/>
        where invite_code = #{inviteCode}
    </select>
</mapper>