<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.TUserInvitegoodsMapper">
    
    <resultMap type="TUserInvitegoods" id="TUserInvitegoodsResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="phone"    column="phone"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="goodName"    column="good_name"    />
        <result property="orderId"    column="order_id"    />
        <result property="money"    column="money"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTUserInvitegoodsVo">
        select id, user_id, phone, goods_id, good_name, order_id, money, create_by, create_time, update_by, update_time, remark from t_user_invitegoods
    </sql>

    <select id="selectTUserInvitegoodsList" parameterType="TUserInvitegoods" resultMap="TUserInvitegoodsResult">
        <include refid="selectTUserInvitegoodsVo"/>
        <where>  
            <if test="userId != null "> and user_id in (select t1.user_id  from t_app_user t1 where t1.invite_code = (SELECT invite_code from t_user_invite where user_id = #{userId}))
            </if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="goodName != null  and goodName != ''"> and good_name like concat('%', #{goodName}, '%')</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="money != null "> and money = #{money}</if>
        </where>
    </select>

    <select id="selectTUserInvitegoodsListForApp" parameterType="TUserInvitegoods" resultMap="TUserInvitegoodsResult">
        <include refid="selectTUserInvitegoodsVo"/>
        <where>
            user_id in (select t1.user_id  from t_app_user t1 where t1.invite_code = (SELECT invite_code from t_user_invite where user_id = #{userId}))
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="goodName != null  and goodName != ''"> and good_name like concat('%', #{goodName}, '%')</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="money != null "> and money = #{money}</if>

        </where>
        order by create_time DESC
    </select>



    <select id="selectTUserInvitegoodsById" parameterType="Long" resultMap="TUserInvitegoodsResult">
        <include refid="selectTUserInvitegoodsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTUserInvitegoods" parameterType="TUserInvitegoods" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_invitegoods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="goodsId != null ">goods_id,</if>
            <if test="goodName != null  and goodName != ''">good_name,</if>
            <if test="orderId != null ">order_id,</if>
            <if test="money != null ">money,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="goodsId != null ">#{goodsId},</if>
            <if test="goodName != null  and goodName != ''">#{goodName},</if>
            <if test="orderId != null ">#{orderId},</if>
            <if test="money != null ">#{money},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTUserInvitegoods" parameterType="TUserInvitegoods">
        update t_user_invitegoods
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="goodsId != null ">goods_id = #{goodsId},</if>
            <if test="goodName != null  and goodName != ''">good_name = #{goodName},</if>
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="money != null ">money = #{money},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTUserInvitegoodsById" parameterType="Long">
        delete from t_user_invitegoods where id = #{id}
    </delete>

    <delete id="deleteTUserInvitegoodsByIds" parameterType="String">
        delete from t_user_invitegoods where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>